<div>
  <h1 class="jumbotron">Welcome</h1>
</div>

<div class="container-fluid text-center">
  <%= link_to "Enter", tasks_path, class: "btn btn-success btn-lg" %>
</div>
<div>
  <%= link_to "logout", destroy_user_session_path, method: :delete, class: "btn btn-warning" %>
</div>